
<!-- =========================== Header Section Start =================================== -->
	
	<div th:insert="dash_header.html"></div>


<!-- =========================== Main Section Start =================================== -->
	<div class="main_section shadow">
      <div class="main_sec ">
      <div class="row">
      	<div class="col-md-10 p-4 m-auto shadow" style="height: 78vh; overflow-y: scroll">
      	<button class="btn btn-secondary" onclick="history.back()" style="position: absolute;">Back</button>
	      	<center>
	      		<h2>Update Student</h2>
	      	</center>
	      	<hr>
	      	<div class="update_student container" style="margin-top: -20px">
	      	  <form action="/update" method="post" enctype="multipart/form-data" class="row g-3" th:object="${edit_student}">
			    <input type="hidden" th:field="*{stud_id}">
			    <div class="form-group col-md-6">
			       <input type="text" class="form-control" id="stud_first_name" placeholder="Student First Name" th:field="*{stud_first_name}" required>
			    </div>
			    <div class="form-group col-md-6">
			       <input type="text" class="form-control" id="stud_last_name" placeholder="Student Last Name"  th:field="*{stud_last_name}" required>
			    </div>
			    <div class="form-group col-md-6">
			       <select class="form-control" th:field="*{stud_faculty}">
			         <option selected disabled value="">Enroll Course</option>
	                  <option value="DCA">DCA(Diploma in Culnary Arts)</option>
                      <option value="DHM">DHM(Diploma in Hotel Management)</option>
                      <option value="+2DHM">+2 DHM</option>
                      <option value="DHM+DCA">DHM+DCA</option>
			      </select>
			    </div>
			     <div class="form-group col-md-6 mb-2">
			       <select class="form-control" th:field="*{stud_gender}">
			        <option selected disabled value="">Select Gender</option>
			         <option value="Male">Male</option>
			         <option value="Female">Female</option>
			      </select>
			    </div>
			    <div class="form-group col-md-6 mb-2">
			      	<div class="row">
			      		<div class="col-md-8 mt-3">
			      			<input class="form-control" type="file" name="imgs" >
			      		</div>
			      		<div class="col-md-4" th:if="${edit_student.stud_photo != null}">
					       	<img th:src="@{'Student_Img/' + ${edit_student.stud_photo}}" class="responsive-img">
			      		</div>
			      	</div>        
			     </div>
			    <div class="form-group col-md-6 mb-2">
			      <input type="email" class="form-control" id="student_email" placeholder="Student Email" th:field="*{stud_email}" required>
			     </div>
			     <div class="form-group col-md-6 mb-2">
			      <input type="text" class="form-control" id="student_phone" placeholder="Student Phone No" th:field="*{stud_phone}" required>
			     </div>
			    <div class="form-group col-md-6">
			       <input type="text" class="form-control" id="student_Address" placeholder="Student Address" th:field="*{stud_address}" required>
			    </div>
			     <div class="form-group col-md-6 mb-2">
			       <select class="form-control" th:field="*{stud_qualification}">
			        <option selected disabled value="">Qualification</option>
			        <option value="SEE">SEE</option>
			        <option value="+2 Management">+2 Management</option>
			        <option value="+2 Science">+2 Science</option>
			        <option value="Bachlor">Bachelor</option>
			      </select>
			    </div>
			    <div class="form-group col-md-6 mb-2 mt-4">
			      <input type="text" class="form-control" id="student_batch" placeholder="Student Batch Year" th:field="*{stud_batch_year}" required>
			    </div>
			    <div class="form-group col-md-6 mb-3">
			      <input type="date" class="form-control" id="joindate" placeholder="Date of Birth" th:field="*{stud_dob}" required>
			      <span>Date of Birth</span>
			    </div>
			    <div class="form-group col-md-6 mb-2"> 
			      <input type="date" class="form-control" id="joindate" placeholder="Join Date" th:field="*{stud_enroll_date}" required>
			      <span>Enroll Date</span>
			    </div>
			    <div class="form-group col-md-6 mb-2">
			      <input type="text" class="form-control" id="guardians_name" placeholder="Guardians name" th:field="*{stud_guardians_name}" required>
			    </div>
			    <div class="form-group col-md-6 mb-2">
			      <input type="text" class="form-control" id="guardians_phone_no" placeholder="Guardians Phone Number" th:field="*{stud_guardians_phone}" required>
			    </div>                      
			    <div class="">
			      <button class="btn btn-primary form-control mt-2" type="submit"><i class="fa fa-user"></i> Update Student</button>
			    </div>
			  </form>
	      	</div>
	      </div>
	    </div>
      </div>
    </div>


<!-- =========================== Header Section Start =================================== -->
	
	<div th:insert="dash_footer.html"></div>

