
<!-- =========================== Header Section Start =================================== -->
	
	<div th:insert="dash_header.html"></div>

<!-- =========================== Main Section Start =================================== -->
	<div class="main_section shadow">
      <div class="main_sec ">
      <!-- View Student detail End -->
      <div class="row">
      	<div class="col-md-10 p-4 m-auto shadow single_stud_view">
      	<button class="btn btn-secondary" onclick="history.back()">Back</button>
	        <center>
	      		<h2>Pay Staff Salary Page</h2>
	      	</center><hr>
          	<div class="row" th:object="${stf}">
			   	<div class="col-lg-3 col-md-6 col-6">
			     	<h5 class="mb-3">Full Name</h5>
			     	<h5 class="mb-3">Faculty</h5>
			     	<h5 class="mb-3">Gender</h5>
			     	<h5 class="mb-3">Email</h5>
			     	<h5 class="mb-3">Phone No</h5>
			     	<h5 class="mb-3">Basic Salary</h5>
			   	</div>
			    <div class="Student__data col-lg-4 col-md-6 col-6">
					<h5 class="mb-3"><span th:text="${stf.staff_first_name}"></span> <span th:text="${stf.staff_last_name}"></span></h5>
					<h5 class="mb-3" th:text="${stf.staff_last_name}">Computer</h5>
					<h5 class="mb-3" th:text="${stf.staff_gender}">Male</h5>
					<h5 class="mb-3" th:text="${stf.staff_email}">csushant224@gmail.com</h5>
					<h5 class="mb-3" th:text="${stf.staff_phone}">9821224203</h5>
					<h5 class="mb-3" th:text="${stf.staff_salary}">2074</h5>
			    </div>
			    <div class="col-lg-3 col-sm-12"> 
				    <img th:src="@{'Staff_Img/' + ${stf.staff_photos}}" class="responsive-img" style="width: 200px !important; height: 200px !important">
				</div>            
      		</div><hr>
      	  <form action="/pay_salary" method="post">
      	  	<!-- <input type="text" name="staff.stf_id"> -->
      	  	<input type="hidden" th:field="*{stf.stf_id}">
      	  	<div class="row">
			  <div class="col-md-3">
			    <input type="text" class="form-control mb-3" name="stf_sal_amount" placeholder="Pay Amount">
			  </div>
			  <div class="col-md-3">
			    <input type="text" class="form-control mb-3" name="stf_sal_remarks" placeholder="Remarks">
			  </div>
			  <div class="col-md-3">
			    <input type="date" class="form-control mb-3" name="stf_sal_date" placeholder="Month Slary">
			  </div>
			  <div class="col-md-3">
			   	 <select class="form-control" name="stf_sal_mon" >
				  <option selected disabled value="">Choose Month</option>
				  <option value="Baishakh">Baishakh</option>
				  <option value="Jesth">Jesth</option>
				  <option value="Ashar">Ashar</option>
				  <option value="Shrawan">Shrawan</option>
				  <option value="Bhadau">Bhadau</option>
				  <option value="Aashwin">Aashwin</option>
				  <option value="Kartik">Kartik</option>
				  <option value="Mangshir">Mangshir</option>
				  <option value="Push">Push</option>
				  <option value="Magh">Magh</option>
				  <option value="Falgun">Falgun</option>
				  <option value="Chaitra">Chaitra</option>
				</select>
			  </div>
			   <div class="col-md-6 m-auto mt-4">
			    <input type="submit" class="form-control btn btn-primary" value="Pay Salary">
			  </div>
			</div>
      	  </form>
      </div>
      <!-- View Student detail End -->
      </div>
    </div>

<!-- =========================== Main Section End =================================== -->

<!-- =========================== Header Section Start =================================== -->
	
	<div th:insert="dash_footer.html"></div>