
<!-- =========================== Header Section Start=================================== -->
	
	<div th:insert="dash_header.html"></div>

<!-- =========================== Main Section Start=================================== -->

  <div class="main_section shadow" style="overflow-y: scroll; height: 80vh; ">
      <div class="main_sec">
      <!-- Home Section Start -->
      <div class="row">
      <div class=" col-lg-8 col-12 border">
        <div class="tab-pane fade show active">
            <div class="home_information container">
              <div class="anlys_data">
                <div class="row">
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-primary">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>Total DHM</h4>
                        <p th:text="${T_DHM}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-success">
                        <i class="fa fa-users dash_logo"></i>
                        <h4>Total DCA</h4>
                        <p th:text="${T_DCA}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2078 Total</h4>
                        <p th:text="${Stud_2078}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2079 Total</h4>
                        <p th:text="${Stud_2079}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2080 Total</h4>
                        <p th:text="${Stud_2080}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2081 Total</h4>
                        <p th:text="${Stud_2081}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2082 Total</h4>
                        <p th:text="${Stud_2082}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2083 Total</h4>
                        <p th:text="${Stud_2083}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2084 Total</h4>
                        <p th:text="${Stud_2084}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2085 Total</h4>
                        <p th:text="${Stud_2085}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4  col-md-4 mb-4">
                    <div class="card shadow">
                      <div class="card-body bg-info">
                      	<i class="fa fa-user dash_logo"></i>
                        <h4>2086 Total</h4>
                        <p th:text="${Stud_2086}"></p>
                      </div>
                    </div>
                  </div>
                </div>
				</div>
				<!-- Analys Data Section End -->
              </div>
            </div>
        </div>
        <!-- Pie Chart Section Start -->
        <div class=" col-lg-4 col-12 border">
        	<div class="mb-4">
        		<h2>Pie Chart or Graph Section</h2>
        	</div>
        	
        </div>
       </div>
        <!-- Home Section End -->
     </div>	
   </div>

<!-- =========================== Main Section End=================================== -->

<!-- =========================== Header Section Start=================================== -->
	
	<div th:insert="dash_footer.html"></div>